body {
  font-family: "Roboto", sans-serif;
}

.cupon {
  width: 100px;
}

p,
.gris,
input[placeholder] {
  color: #707070;
  font-weight: 300;
}



.bg-green {
  background-color: #28a745;
}

.green {
  color: #28a745;
}
